* {
    margin: 0;
    padding: 0;
}

.d-none {
    display: none;
}

.Dashboard-container {
    background-color: aliceblue;
    height: auto;
    width: calc(100vw-15px);
}

.Dash-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px;
}

.logo-div {
    margin-left: 20px;
    width: 130px;
}
.logo-div img {
    display: block;
    width: 100%;
}

.logOut-div {
    display: flex;
    gap: 15px;
    margin-right: 20px;
}

.section1 {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    margin-top: 30px;
}

.Candidate-bx,
.Shortlisted-bx,
.Cv-Download {
    display: flex;
    gap: 25px;
    justify-content: start;
    align-items: center;
    padding-left: 30px;
    width: 28%;
    height: 80px;
    background-color: white;
    border-radius: 10px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: aliceblue;
    border-radius: 50%;
}

.number {
    font-size: 1.5rem;
    font-weight: bold;
}

.section2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 20px 10px;
    width: 94.5%;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 30px;
}

.Refresh-div {
    display: flex;
    gap: 10px;
    align-items: center;
}

.Candidate-div p {
    font-size: 1.2rem;
    font-weight: bold;
}

.section3 {
    margin-top: 30px;
}

.candidate-table {
    width: 95%;
    margin: 0 auto;
    border-collapse: separate;
      border-spacing: 0;
}

.candidate-table thead {
    background-color: aliceblue;
}

tbody {
    /* width: 96%;
    margin: 0 auto; */
    background-color: white;
    border-radius: 20px;
      overflow: hidden;
     
}

#candidateBody {
 margin-bottom: 200px;
}

.candidate-table th,
.candidate-table td {
    text-align: left;
    padding: 15px;
    font-size: 1rem;
}

.candidate-table th {
    font-weight: bold;
}


.download-btn {
    padding: 6px 14px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.download-btn:hover {
    background-color: #0056b3;
}







.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 40px 0 200px; /* 👈 spacing + bottom gap */
}

.pagination-container button {
    padding: 6px 14px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.pagination-container button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.page-number {
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #f0f0f0;
}

.page-number.active {
    background-color: #007bff;
    color: white;
}
