* {
    margin: 0;
    padding: 0;
}


body {
    width: 100%;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
}

.circular-gradient {
    background: radial-gradient(circle, #e7d2a4 0%, #debd7b 56%, #d8b674 67%, #caa563 83%, #b78f4d 100%);
}

.hand-love-img {
    width: 20%;
    position: absolute;
    top: -12%;
    left: -8%;
}

.hand-love-img img {
    display: block;
    width: 100%;
}

.cup-img {
    width: 16%;
    position: absolute;
    top: -6%;
    left: 88%;
}

.cup-img img {
    display: block;
    width: 100%;
}

.bru-gold-img {
    width: 17%;
    position: absolute;
    top: 90%;
    left: 0%;
}

.bru-gold-img img {
    display: block;
    width: 100%;
}

.squre-img {
    width: 8%;
    position: absolute;
    top: 96%;
    left: 45%;
}

.squre-img img {
    display: block;
    width: 100%;
}

.green-img {
    width: 10%;
    position: absolute;
    top: 95%;
    left: 95%;
}

.green-img img {
    display: block;
    width: 100%;
}

.Bru-gemini-logo {
    width: 30%;
    margin: 0 auto;
}

.Bru-gemini-logo img {
    display: block;
    width: 100%;
}

.Bru-minder {
    width: 60%;
    margin-top: 20px;
    margin: 0 auto;
}

.Bru-minder img {
    display: block;
    width: 100%;
}

.bru-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    /* margin: auto 0; */
    margin: 150px 50px;
}

.bru-content h3 {
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #613a17;
}

.bru-content p {
    text-align: center;
    font-size: 1rem;
    font-weight: normal;
    margin-top: 10px;
    color: #613a17;
}

.bru-content button {
    font-size: 1rem;
    font-weight: normal;
    background-color: #0C4B25;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 15px 25px;
    border: none;
}


.d-none {
    display: none;
}

.page1 {
    width: 55vw;
    margin: 0 auto;
}

.page2 {
    width: 55vw;
    margin: 0 auto;
}

.page3 {
    width: 55vw;
    margin: 0 auto;
}

.page4 {
    width: 55vw;
    margin: 0 auto;
}

.page-random {
    width: 55vw;
    margin: 0 auto;
}

.final-page {
    width: 55vw;
    margin: 0 auto;
}

.logo-container {
    width: 100%;
    height: auto;
}

.bru-logo-container {
    width: 10%;
    margin: 0 auto;
    /* padding-top: 20px;
    margin-bottom: 20px; */
}

.bru-logo-container img {
    display: block;
    width: 100%;
}

.gemini-logo-container {
    width: 5%;
    margin: 0 auto;
}

.gemini-logo-container img {
    display: block;
    width: 100%;
}

.gemini-logo-container p {
    text-align: center;
    margin-bottom: 10px;
}



.bru-minder-logo-container {
    width: 50%;
    margin: 0 auto;
}

.bru-minder-logo-container img {
    display: block;
    width: 100%;
}

.data-container {
    position: relative;
    width: 90%;
    height: 60%;
    margin: 0 auto;
    margin-top: 30px;
    border: 1px solid rgb(27, 26, 26);
    border-radius: 10px;
}

.container {
    position: relative;
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
    border: 1px solid rgb(27, 26, 26);
    border-radius: 10px;
}

#pera-pic {
    width: 100%;
    padding: 0 20px;
    text-align: center;
    font-size: 10px;
    font-weight: 500;
    margin-top: 5px;
    color: #613a17;
}

#pera-pic-2 {
    padding: 0 20px;
    text-align: center;
    font-weight: 700;
    margin-top: 5px;
    color: #613a17;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.text-inside-upload {
    width: 100%;
}

#pera1 {
    font-size: 1rem;
    text-align: center;
    margin-top: 30px;
    font-weight: 600;
    color: #613a17;
}

.upload-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    width: 100%;
    /* height: 25%; */
    margin-top: 15px;
    /* background-color: yellow; */
}

.upload-1 {
    border: 2px dashed black;
    width: 40%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: border-color, 0.3s;
}

.upload-1:hover {
    border-color: #3b82f6;
}


.upload-2 {
    border: 2px dashed black;
    width: 40%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: border-color, 0.3s;
}

.upload-2:hover {
    border-color: #3b82f6;
}

.upload-img-1 {
    width: 30%;
    margin-top: 10px;
    text-align: center;
}

.upload-img-2 {
    width: 30%;
    margin-top: 20px;
    text-align: center;
}

.upload-img-1 img {
    display: block;
    width: 100%;
}

.upload-img-2 img {
    display: block;
    width: 100%;
}

#pera2 {
    font-size: 1rem;
    font-weight: 500;
    color: #613a17;
}

#pera3 {
    font-size: 0.6rem;
    margin-bottom: 5px;
    color: #613a17;
}

#pera4 {
    font-size: 1rem;
    font-weight: 500;
    color: #613a17;
}

#pera5 {
    font-size: 0.6rem;
    margin-bottom: 2.5px;
    color: #613a17;
}

#pera6 {
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    margin-top: 30px;
    color: #613a17;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

form input {
    width: 60%;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid #613a17;
    color: #613a17;
    background: transparent;
    text-align: center;
}

.checkbox-container>input {
    width: 20px;
}

form input:focus {
    border: 1px solid #613a17;
    color: #613a17;
    outline: none;
}

.checkbox-container input[type="checkbox"]:checked+label::before {
    background-color: green;
    border-color: green;
}


form button {
    background-color: #0C4B25;
    color: white;
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    margin-bottom: 20px;
}

input::placeholder {
    color: #613a17;
    opacity: 1;
}

button:hover {
    transform: scale(1.1);
    transition: 0.2s ease;
}





.absolute-img1 {
    position: absolute;
    width: 13%;
    top: -5%;
    left: -4%;
}

.absolute-img1 img {
    display: block;
    width: 100%;
}

.absolute-img2 {
    position: absolute;
    width: 12%;
    top: 0%;
    left: 5%;
}

.absolute-img2 img {
    display: block;
    width: 100%;
}

.absolute-img3 {
    position: absolute;
    width: 8%;
    top: -10%;
    left: 70%;
}

.absolute-img3 img {
    display: block;
    width: 100%;
}

.absolute-img4 {
    position: absolute;
    width: 16%;
    top: 100%;
    left: 0%;
}

.absolute-img4 img {
    display: block;
    width: 100%;
}

.absolute-img5 {
    position: absolute;
    width: 20%;
    top: 90%;
    right: 13%;
    ;
}

.absolute-img5 img {
    display: block;
    width: 100%;
}

.page3-container {
    position: relative;
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
    border: 1px solid rgb(27, 26, 26);
    border-radius: 10px;
}

.final-page-container {
    position: relative;
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
    border: 1px solid rgb(27, 26, 26);
    border-radius: 10px;
}


.page3-content {
    width: 100%;
    margin: auto 0;
}

.page-random-content {
    width: 100%;
}

.page-random-content h3 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 2rem;
    color: #613a17;
}

.random-container {
    display: flex;
    gap: 20px;
    justify-content: center;
}

/* .custom-select-trigger { 
 margin-top: 150px;
} */


.final-page-content {
    width: 100%;
    margin: auto 0;
}

.page3-content h3 {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 30px;
    font-size: 2rem;
    color: #613a17;
}

.page3-btn {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 70px;
    margin-bottom: 70px;
}

.final-page-btn {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.final-page-btn>:nth-child(1) {
    font-size: 1rem;
    font-weight: normal;
    background-color: #0C4B25;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 15px 50px;
    border: none;
    cursor: pointer;
}

.final-page-btn>:nth-child(2) {
    font-size: 1rem;
    font-weight: normal;
    background-color: #0C4B25;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 15px 50px;
    border: none;
    cursor: pointer;
}


#page4-back {
    padding: 15px 65px;
}

.page3-btn>:nth-child(1) {
    font-size: 1rem;
    font-weight: normal;
    background-color: #0C4B25;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 15px 50px;
    border: none;
    cursor: pointer;
}

.page3-btn>:nth-child(2) {
    font-size: 1rem;
    font-weight: normal;
    background-color: #0C4B25;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 15px 50px;
    border: none;
    cursor: pointer;
}

.page3-btn>:nth-child(1):hover {
    transform: scale(1);
}

.page3-btn>:nth-child(2):hover {
    transform: scale(1);
}

/* custom select option */
.custom-select-wrapper {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    position: relative;
    font-family: sans-serif;
}


.custom-select {
    position: relative;
    cursor: pointer;
    user-select: none;
}

.custom-select-trigger {
    padding: 15px 15px;
    border: 1px solid #613a17;
    color: #613a17;
    font-size: 1rem;
    border-radius: 6px;
    background-color: transparent;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}


.custom-select-trigger::after {
    content: "";
    border: solid #613a17;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(45deg);
    transition: transform 0.3s;
}


.custom-options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border: 1px solid #613a17;
    border-radius: 6px;
    background-color: #E7D2A4;
    color: #613a17;
    font-size: 1rem;
    font-weight: 500;
    max-height: 200px;
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
    z-index: 10;
    max-height: 185px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

.custom-option {
    padding: 10px 15px;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    flex-direction: column;
}



.custom-select.open .custom-options {
    opacity: 1;
    pointer-events: all;

}

.custom-select.open .custom-select-trigger::after {
    transform: rotate(-135deg);
}



.custom-options::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.custom-options::-webkit-scrollbar-thumb {
    background: transparent;
}




/*  */





.loading-bar {
    width: 60%;
    height: 10px;
    background-color: #ddd;
    border-radius: 10px;
    margin: 20px auto;
    overflow: hidden;
    position: relative;
}

.loading-progress {
    width: 0%;
    height: 100%;
    background-color: #8b5e3c;
    border-radius: 10px;
    transition: width 0.4s ease;
}

#loading-section p {
    text-align: center;
    color: #333;
    margin-top: 15px;
    font-size: 16px;
}

#loading-section p.error-text {
    color: red;
    font-weight: bold;
}

#restart-btn {
    display: inline-block;
    margin-top: 15px;
    transition: background 0.3s ease;
    font-size: 1rem;
    font-weight: normal;
    background-color: #0C4B25;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 15px 50px;
    border: none;
    cursor: pointer;
    margin-bottom: 80px;
}

#restart-btn:hover {
    transform: scale(1);
    background-color: #70472d;
}

.block {
    display: block;
}

#loading-section {
    margin-bottom: 100px;
}


.final-image {
    margin: 0 auto;
    width: 44%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.final-image img {
    display: block;
    width: 100%;
}

.final-page-text-container p {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: #70472d;
}

.final-page-text-container p span img {
    align-self: center;
    width: 25px;
}

#final-pera {
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.4rem;
    color: #70472d;
}

#final-pera span {
    color: #0C4B25;
    font-size: 1.4rem;
}


.hand-love-img {
    width: 20%;
    top: -12%;
    left: -8%;
    animation-name: myAnimation;
    animation-duration: 4s;
    animation-iteration-count: 3000;
    transform: rotate(0deg);
}

@keyframes myAnimation {
    0% {
        top: -12%;
        left: -8%;
    }

    25% {
        top: 0%;
        left: -8%;
    }

    50% {
        top: 0%;
        left: -8%;
    }

    75% {
        top: -12%;
        left: -8%;
    }

    100% {
        top: -12%;
        left: -8%;
    }
}


.cup-img {
    top: -6%;
    left: 88%;
    animation-name: myAnimation2;
    animation-duration: 4s;
    animation-iteration-count: 3000;
    transform: rotate(0deg);
}

@keyframes myAnimation2 {
    0% {
        color: #BDE6FA;
        top: -6%;
        left: 88%;
    }

    25% {
        color: #BDE6FA;
        top: 4%;
        left: 88%;
    }

    50% {
        color: #BDE6FA;
        top: 4%;
        left: 88%;
    }

    75% {
        color: #BDE6FA;
        top: -6%;
        left: 88%;
    }

    100% {
        color: #BDE6FA;
        top: -6%;
        left: 88%;
    }
}


.bru-gold-img {
    top: 90%;
    left: 0%;
    animation-name: myAnimation3;
    animation-duration: 4s;
    animation-iteration-count: 3000;
    transform: rotate(0deg);
}

@keyframes myAnimation3 {
    0% {
        color: #BDE6FA;
        top: 90%;
        left: 0%;
    }

    25% {
        color: #BDE6FA;
        top: 80%;
        left: 0%;
    }

    50% {
        color: #BDE6FA;
        top: 80%;
        left: 0%;
    }

    75% {
        color: #BDE6FA;
        top: 90%;
        left: 0%;
    }

    100% {
        color: #BDE6FA;
        top: 90%;
        left: 0%;
    }
}

.absolute-img4 {
    top: 100%;
    left: 0%;
    animation-name: myAnimation4;
    animation-duration: 4s;
    animation-iteration-count: 3000;
    transform: rotate(0deg);
}

@keyframes myAnimation4 {
    0% {
        color: #BDE6FA;
        top: 100%;
        left: 0%;
    }

    25% {
        color: #BDE6FA;
        top: 80%;
        left: 0%;
    }

    50% {
        color: #BDE6FA;
        top: 80%;
        left: 0%;
    }

    75% {
        color: #BDE6FA;
        top: 100%;
        left: 0%;
    }

    100% {
        color: #BDE6FA;
        top: 100%;
        left: 0%;
    }
}

.absolute-img3 {
    top: -10%;
    left: 70%;
    animation-name: myAnimation5;
    animation-duration: 4s;
    animation-iteration-count: 3000;
    transform: rotate(0deg)
}

@keyframes myAnimation5 {
    0% {
        color: #BDE6FA;
        top: -10%;
        left: 70%;
    }

    25% {
        color: #BDE6FA;
        top: -10%;
        left: 80%;
    }

    50% {
        color: #BDE6FA;
        top: -10%;
        left: 80%;
    }

    75% {
        color: #BDE6FA;
        top: -10%;
        left: 70%;
    }

    100% {
        color: #BDE6FA;
        top: -10%;
        left: 70%;
    }
}


.absolute-img1 {
    top: -5%;
    left: -4%;
    animation-name: myAnimation6;
    animation-duration: 4s;
    animation-iteration-count: 3000;
    transform: rotate(0deg)
}


@keyframes myAnimation6 {
    0% {
        color: #BDE6FA;
        top: -5%;
        left: -4%;
    }

    25% {
        color: #BDE6FA;
        top: -10%;
        left: -4%;
    }

    50% {
        color: #BDE6FA;
        top: -10%;
        left: -4%;
    }

    75% {
        color: #BDE6FA;
        top: -5%;
        left: -4%;
    }

    100% {
        color: #BDE6FA;
        top: -5%;
        left: -4%;
    }
}

.absolute-img2 {
    top: 0%;
    left: 5%;
    animation-name: myAnimation7;
    animation-duration: 4s;
    animation-iteration-count: 3000;
    transform: rotate(0deg)
}

@keyframes myAnimation7 {
    0% {
        color: #BDE6FA;
        top: 0%;
        left: 5%;
    }

    25% {
        color: #BDE6FA;
        top: -5%;
        left: 5%;
    }

    50% {
        color: #BDE6FA;
        top: -5%;
        left: 5%;
    }

    75% {
        color: #BDE6FA;
        top: 0%;
        left: 5%;
    }

    100% {
        color: #BDE6FA;
        top: 0%;
        left: 5%;
    }
}